@using League.ViewModels
@{
  ViewData["Title"] = "Champions";
}

<div class="row">
  <div class="col-md-12">
    <h1>@ViewBag.Title</h1>
  </div>
</div>

<partial name="_ChampionsForm" model="new ChampionsFormModel {
  Ranges = Model.Ranges,
  Positions = Model.Positions,
  Classes = Model.Classes
}"/>

<div id="ChampionsContainer">
  <!-- Champions here -->
</div>